#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)

%:
	dh $@ 

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/tmp
	mkdir -p debian/tmp
	dpkg-architecture -l
	cp binaries/DtapiService$(DEB_HOST_ARCH_BITS) debian/tmp/DtapiServiced
	cp binaries/DtapiServiceInit debian/tmp
	cp binaries/DtInfoCL$(DEB_HOST_ARCH_BITS) debian/tmp/DtInfoCL

override_dh_shlibdeps:

override_dh_strip:
